.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    color: #050000;
    height: 100px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: white;
}

.logoytitulo {
    display: flex;
    align-items: center;
}

.nombreweb {
    margin-left: 15px;
    justify-content: left;
}

.logoweb {
    height: 60px;
    margin-left: 15px;
    justify-content: left;
}

.buscador {
    position: relative;
    align-items: center;
    margin-left: 140px;
}

.search-button {
    width: 40px;
    height: 50px;
    align-items: center;
    border-color: #8c8686;
    border-radius: 10px;
}

input {
    padding: 10px;
    height: 30px;
    border-radius: 10px;
    width: 300px;
    background-color: #ece8e8;
    border: white;
}

.user-login {
    display: flex;
    align-items: center;
    margin-left: auto; /* Empuja el user-login al extremo derecho */
    margin-right: 15px;
}

.user-logo {
    height: 40px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

/* Estilos login */
.login-text {
    font-size: 25px; /* Ajusta el tamaño del texto según sea necesario */
    margin-right: 10px;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}

.login-text:hover {
    background-color: #ddd3d3;
    border-radius: 20px;
    padding: 10px;
    transform: none;
    transition: none;
}

.login-button {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    background-color: #4e4ef6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 15px 60px;
}

.home-texto:hover,
.inscripcion-texto:hover,
.cursos-texto:hover,
.miscursos-texto:hover {
    background-color: #ddd3d3;
    border-radius: 20px;
    padding: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #050000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 400px;
    margin: auto;
}

.caja-nombre-usuario,
.caja-contraseña {
    border: 2px solid #050000;
    background-color: white;
}

/* Estilos inscripcion */
.nombre-apellido-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
}

.nombre-container,
.apellido-container,
.email-container,
.nombre-usuario-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nombre-texto,
.apellido-texto,
.email-texto,
.nombre-usuario-texto {
    margin-bottom: 10px;
}

.email-usuario-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
}

.caja-nombre,
.caja-apellido,
.caja-email {
    border: 2px solid #050000;
    background-color: white;
}

/* Estilos main content */
.App-cuerpo {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #050000;
}

.descripcion {
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.Courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Course {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.Course-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #050000;
}



.Course-description {
    margin-bottom: 10px;
}

.Course-category {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.mensaje-error-busqueda {
    display: inline-block;
    background-color: white;
    border: 7px solid red;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

/* Estilos columna */
.columna {
    padding: 30px;
    width: 200px;
}

.componente-columna {
    width: 190px;
    height: calc(100vh - 100px);
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 130px;
    left: 0;
    border-radius: 0 80px 0 0;
    margin-top: 30px;
}

.componente-columna p {
    margin: 20px 0;
    cursor: pointer;
    font-weight: normal;
}

.componente-columna a {
    text-decoration: none;
    color: inherit; /* Para que el color del enlace herede el color del texto circundante */
}

.logout-text {
    font-size: 25px; /* Ajusta el tamaño del texto según sea necesario */
    margin-right: 10px;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}

.logout-text:hover {
    background-color: #ddd3d3;
    border-radius: 20px;
    padding: 10px;
}

/* Ajustes generales */
.App-cuerpo {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: row; /* Cambiado de 'column' a 'row' para alinear lado a lado */
    align-items: flex-start; /* Alineación de elementos al principio del contenedor */
    justify-content: flex-start; /* Alineación de elementos al principio del contenedor */
    font-size: calc(10px + 2vmin);
    color: #050000;
    padding-top: 100px; /* Añadir padding para no sobreponer el header */
}

/* Estilos de la columna */
.columna {
    width: 200px;
}

.componente-columna {
    width: 200px; /* Asegurar que la barra lateral tenga un ancho fijo */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 100px; /* Ajustar la posición para alinearse con el header */
    left: 0;
    border-radius: 0 80px 0 0;
    height: calc(100vh - 100px); /* Altura ajustada tomando en cuenta el header */
}

/* Ajustes del contenido principal */
.contenido-principal {
    margin-left: 220px; /* Dejar un espacio para la barra lateral */
    padding: 20px;
    width: calc(100% - 220px); /* Ajustar el ancho del contenido principal */
}

/* Otros estilos */
.descripcion {
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.Courses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Course {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.Course-title {
    display: inline-block; /* o inline-flex */
    overflow: hidden; /* Ocultar el exceso de texto */
    padding: 8px 12px; /* Ajustar el padding vertical y horizontal */
    border-radius: 10px; /* Reducir el radio del borde */
    transition: background-color 0.3s ease;
    font-weight: normal;
}

.Course-title:hover{
    background-color: #ddd3d3;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: bold;
}

.curso-categoria{
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.mensaje-error-busqueda {
    display: inline-block;
    background-color: white;
    border: 7px solid red;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
